{extend name="base"/}
{block name="main"}
<div class="container">
	<ul class="nav nav-pills  nav-fill">
	  <li class="nav-item">
	    <a class="nav-link active bg-dark" href="#">棋谱大厅</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="{:url('index/index/notion')}">棋手说</a>
	  </li>
	  </li>
	</ul>
	<div class="input-group mb-3" style="margin: 10px 0px;">
	  <select class="custom-select" id="orderBy">
	    <option value="0" selected>最新发布</option>
	    <option value="1">点击最多</option>
	    <option value="2">点赞最多</option>
	    <option value="3">评论最多</option>
			<option value="4">我关注的</option>
	  </select>
  	  <input id="searchContent" type="text" class="form-control" placeholder="请输入搜索内容" aria-label="请输入搜索内容" aria-describedby="basic-addon2">
	  <div class="input-group-append">
	    <button class="btn btn-bg btn-outline-secondary" id="searchBtn" style="height:36px;"><i class="fa fa-search"></i></button>
	  </div>
	</div>
	<div id="manualData"></div>
	<section class="alert alert-light text-center" role="alert" id="loadingFlag"><i class="fa fa-spinner fa-pulse fa-2x fa-fw" ></i>&nbsp;正在加载</section>
</div>
{/block}
{block name='js'}
<script type="text/javascript">
	var page = 1;
	var bodyH = $('body')[0].offsetHeight;
	var isLoading = 0;
	var newDate = new Date();
	ajaxGetManual('/index/index/index');
	$(function(){
		$(window).scroll(function(){
			$('#loadingFlag').css({'display':'block'});
			if(!isLoading)
			{
				var top = $('#loadingFlag').offset().top;
				var flagH = $('#loadingFlag').height();
				var scrollTop = $(window).scrollTop();
				var viewH = $(window).height();

				if( scrollTop+viewH-flagH > top )
				{
					isLoading = 1;
					ajaxGetManual('/index/index/index');
				}
			}
		})

		$('#orderBy').change(function(){
			page = 1;
			$('#loadingFlag').html('<i class="fa fa-spinner fa-pulse fa-2x fa-fw" ></i>&nbsp;正在加载');
			$('#manualData').html('');
			ajaxGetManual('/index/index/index');
		});
		$('#searchBtn').click(function(){
			page = 1;
			if($('#searchContent').val() != '')
			{
				$('#loadingFlag').html('<i class="fa fa-spinner fa-pulse fa-2x fa-fw" ></i>&nbsp;正在加载');
				$('#manualData').html('');
				ajaxGetManual('/index/index/index');
			}
		});
	});
	function ajaxGetManual(dataUrl)
	{
		var orderBy = $('#orderBy').val();
		var searchContent = $('#searchContent').val();
		var content = '';
		$.ajax({
		url:dataUrl+'?page='+page,
		data:{
			'order_by' : orderBy,
			'search_content' : searchContent
		},
		method:'post',
		dataType:'json',
		success:function(retData){
			var data = retData.data;
			if(data != '')
			{
				for(var i = 0, len = data.length ; i < len ; i++)
				{
					 newDate.setTime(data[i].create_time*1000);
					 content = content + '<div class="card" style="margin: 5px auto;">\
									  <div class="card-body">\
									    <a href="/index/index/playManual?id='+ data[i].id +'">\
									    	<h3 class="card-title">'+ data[i].manual_name +'</h3>\
									    </a>\
									    <h7 class="card-subtitle mb-2 text-muted">\
									    	<a href="/index/index/userDetail?id='+data[i].user_id+'"><i class="fa fa-user"></i>&nbsp;'+ data[i].user_name+'</a>&nbsp;&nbsp;\
									    	<i class="fa fa-eye"></i>&nbsp;'+ data[i].click_count +'&nbsp;&nbsp;\
						    		    	<i class="fa fa-thumbs-o-up"></i>&nbsp;'+data[i].praise_count+'&nbsp;&nbsp;\
											<i class="fa fa-comment-o"></i>&nbsp;'+data[i].comment_count+'\
									    </h7>\
									    <p class="card-text">'+ data[i].manual_intro.substring(0,20) + '......</p>\
									    <h7 class="card-subtitle mb-2 text-muted">\
									    <i class="fa fa-clock-o"></i>&nbsp;'+ newDate.format('yyyy-MM-dd h:m') +'</h7>\
									  </div>\
									</div>';
				}
				$('#manualData').append(content);
				isLoading = 0;
				page = retData.current_page+1;
				if($('body')[0].offsetHeight == $(window).height())
				{
					$('#loadingFlag').html('就这么多了');
				}
			}
			else
			{
				$('#loadingFlag').html('这回真没了');
				page = retData.current_page-1;
			}

		}
	});
	}
</script>
{/block}
