{extend name="base"/}
{block name="main"}
<div class="container">
	<ul class="nav nav-pills  nav-fill">
	  <li class="nav-item">
	    <a class="nav-link" href="{:url('index/index/index')}">棋谱大厅</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link active bg-dark" >棋手说</a>
	  </li>
	  </li>
	</ul>
	<div class="alert alert-warning alert-dismissable" style="display: none;" id="top_alert">
	    <strong>警告!</strong>
    </div>
	<div class="input-group mb-3" style="margin: 10px 0px;">
	  <select class="custom-select" id="orderBy">
	    <option value="0" selected>最新发布</option>
	    <option value="1">我关注的</option>
	    <option value="2">点赞最多</option>
	    <option value="3">评论最多</option>
	  </select>
  	  <input id="searchContent" type="text" class="form-control" placeholder="请输入搜索内容" aria-label="请输入搜索内容" aria-describedby="basic-addon2">
	  <div class="input-group-append">
	    <button class="btn btn-bg btn-outline-secondary" id="searchBtn" style="height:36px;"><i class="fa fa-search"></i></button>
	  </div>
	</div>
	<div id="notionData"></div>
	<section class="alert alert-light text-center" role="alert" id="loadingFlag"><i class="fa fa-spinner fa-pulse fa-2x fa-fw" ></i>&nbsp;正在加载</section>
</div>
{/block}
{block name='js'}
<script type="text/javascript">
	var page = 1;
	var bodyH = $('body')[0].offsetHeight;
	var isLoading = 0;
	var newDate = new Date();
	ajaxGetNotion("/index/index/notion");
	$(function(){
		$(window).scroll(function(){
			$('#loadingFlag').css({'display':'block'});
			if(!isLoading)
			{
				var top = $('#loadingFlag').offset().top;
				var flagH = $('#loadingFlag').height();
				var scrollTop = $(window).scrollTop();
				var viewH = $(window).height();

				if( scrollTop+viewH-flagH > top )
				{
					isLoading = 1;
					ajaxGetNotion("/index/index/notion");
				}
			}
		});
		$('#orderBy').change(function(){
			page = 1;
			$('#loadingFlag').html('<i class="fa fa-spinner fa-pulse fa-2x fa-fw" ></i>&nbsp;正在加载');
			$('#notionData').html('');
			ajaxGetNotion('/index/index/notion');
		});
		$('#searchBtn').click(function(){
			page = 1;
			if($('#searchContent').val() != '')
			{
				$('#loadingFlag').html('<i class="fa fa-spinner fa-pulse fa-2x fa-fw" ></i>&nbsp;正在加载');
				$('#notionData').html('');
				ajaxGetNotion('/index/index/notion');
			}
		});
		// var praiseBtn = $('.praiseBtn');
		// for(var i = 0 ,len = praiseBtn.length;i<len;i++ )
		// {
		// 	praiseBtn[i].click(function(){praise();});
		// }
	})
function ajaxGetNotion(dataUrl)
{
	var orderBy = $('#orderBy').val();
	var searchContent = $('#searchContent').val();
	var content = '';
	$.ajax({
	url:dataUrl+'?page='+page,
	method:'post',
	data:{
			'order_by' : orderBy,
			'search_content' : searchContent
		},
	dataType:'json',
	success:function(retData){
		var data = retData.data;
		if(data != '')
		{
			for(var i = 0, len = data.length ; i < len ; i++)
			{
				newDate.setTime(data[i].create_time);
				 content = content + '	<div class="card" style="margin: 5px auto;padding: 5px;" >\
				  	<div class="row">\
				  		<div class="col-3 col-sm-4 col-md-4">\
						    <a href="/index/index/userDetail?id='+data[i].user_id+'"><img class="img-fluid rounded" title="棋手头像" alt="user-photo" src="'+data[i].photo+'"></a>\
				  		</div>\
				  		<div class="col-9 col-sm-8 col-md-8">\
				  			<h7 class="card-subtitle mb-2 text-muted">\
				    			 <a href="/index/index/userDetail?id='+data[i].user_id+'">'+data[i].user_name+'</a>\
				    		</h7>\
						    <p class="card-text">'+data[i].notion_content+'</p>\
						    <h7 class="card-subtitle mb-2 text-muted"><i class="fa fa-clock-o"></i>&nbsp;'+newDate.format('yyyy-MM-dd h:m')+'</h7>\
				  		</div>\
				  	</div>\
				  	<div class="text-right">\
				    		<a class="btn btn-sm btn-light praiseBtn" notion-id="'+data[i].id+'" aria-disabled = "false" onclick="praise(this)"><i class="fa fa-thumbs-o-up"></i>&nbsp;<span class="badge badge-light" >'+data[i].praise_count+'</span></a>\
				    		<a href="/index/index/notionComment?id='+data[i].id+'" class="btn btn-sm btn-dark text-light"><i class="fa fa-comment-o"></i>&nbsp;<span class="badge badge-light">'+data[i].comment_count+'</span></a>\
				  	</div>\
				</div>';
			}

			$('#notionData').append(content);
			isLoading = 0;
			page = retData.current_page+1;
			if($('body')[0].offsetHeight == $(window).height())
			{
				$('#loadingFlag').html('就这么多了');
			}
		}
		else
		{
			$('#loadingFlag').html('这回真没了');
			page = retData.current_page-1;
		}

		}
	});
}
function  praise(obj){
				if($(obj).attr('aria-disabled') != 'true'){
					var notion_id =$(obj).attr('notion-id');
					var eq = $('.praiseBtn').index($(obj));
					$.ajax({
						url: '/index/praise/notionPraise',
						data:{
							'eq':eq,
							'notion_id':notion_id
						},
						method:'post',
						dataType:'json',
						success:function(retData){
							if(retData.errcode == 0){
								topAlert(retData.errmsg,'success');
								var praiseCount = parseInt($('.praiseBtn').eq(retData.eq).find('.badge').text())+1;
								$('.praiseBtn').eq(retData.eq).find('.badge').text(praiseCount);
								$('.praiseBtn').eq(retData.eq).attr('class','btn btn-sm btn-success disable').attr('aria-disabled','true');
							}else if(retData.errcode == '40100'){
								topAlert(retData.errmsg,'warning');
								$('.praiseBtn').eq(retData.eq).attr('class','btn btn-sm btn-secondary disable').attr('aria-disabled','true');
							}else{
								topAlert(retData.errmsg+'<a href="/admin/login/index">前往登录</a>','info');
							}
						}
					})
				}
				return false;

			}
</script>
{/block}
