{extend name="base"/}
{block name="main"}
<div class="container">
	<ul class="nav nav-pills  nav-fill">
	  <li class="nav-item">
	    <a class="nav-link" href="{:url('index/index/index')}">棋谱大厅</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link active" >棋手说</a>
	  </li>
	  </li>
	</ul>
	<div class="alert alert-warning alert-dismissable" style="display: none;" id="top_alert">
	    <strong>警告!</strong>
    </div>
	{foreach name = 'notion_info' item = 'nt'}
	<div class="card" style="margin: 5px auto;padding: 5px;" >
	  	<div class="row">
	  		<div class="col-3 col-sm-4 col-md-4">
			    <img class="img-fluid rounded" title="棋手头像" alt="user-photo" src="{$nt.photo}">
	  		</div>
	  		<div class="col-9 col-sm-8 col-md-8">
	  			<h7 class="card-subtitle mb-2 text-muted">
	    			<i class="fa fa-user"></i>&nbsp;{$nt.user_name}
	    		</h7>
			    <p class="card-text">{$nt.notion_content}</p>
			    <h7 class="card-subtitle mb-2 text-muted"><i class="fa fa-clock-o"></i>&nbsp;{:date('Y-m-d H:i',$nt.create_time)}</h7>
	  		</div>
	  	</div>
	  	<div class="text-right">
	    		<a class="btn btn-sm btn-light praiseBtn" notion-id = '{$nt.id}' aria-disabled = 'false'><i class="fa fa-thumbs-o-up"></i>&nbsp;<span class="badge badge-light" >{$nt.praise_count}</span></a>
	    		<a class="btn btn-sm btn-dark text-light"><i class="fa fa-comment-o"></i>&nbsp;<span class="badge badge-light">{$nt.comment_count}</span></a>
	  	</div>
	</div>
	{/foreach}
	<section class="alert alert-light text-center" role="alert" id="loadingFlag" style="display: none;"><i class="fa fa-spinner fa-pulse fa-2x fa-fw" ></i>&nbsp;正在加载</section>
</div>
{/block}
{block name='js'}
<script type="text/javascript">
	var page = 2;
	var bodyH = $('body')[0].offsetHeight;
	var isLoading = 0;
	var newDate = new Date();
	$(function(){
		$(window).scroll(function(){
			$('#loadingFlag').css({'display':'block'});
			if(!isLoading)
			{
				var content = '';
				var top = $('#loadingFlag').offset().top;
				var flagH = $('#loadingFlag').height();
				var scrollTop = $(window).scrollTop();
				var viewH = $(window).height();
				
				if( scrollTop+viewH-flagH > top )
				{
					isLoading = 1;
					$.ajax({
						url:'{:url("index/index/notion")}'+'?page='+page,
						method:'post',
						dataType:'json',
						success:function(retData){
							var data = retData.data;
							if(data != '')
							{
								for(var i = 0, len = data.length ; i < len ; i++)
								{
									newDate.setTime(data[i].create_time);
									 content = content + '	<div class="card" style="margin: 5px auto;padding: 5px;" >\
									  	<div class="row">\
									  		<div class="col-3 col-sm-4 col-md-4">\
											    <img class="img-fluid rounded" title="棋手头像" alt="user-photo" src="'+data[i].photo+'">\
									  		</div>\
									  		<div class="col-9 col-sm-8 col-md-8">\
									  			<h7 class="card-subtitle mb-2 text-muted">\
									    			<i class="fa fa-user"></i>&nbsp;'+data[i].user_name+'\
									    		</h7>\
											    <p class="card-text">'+data[i].notion_content+'</p>\
											    <h7 class="card-subtitle mb-2 text-muted"><i class="fa fa-clock-o"></i>&nbsp;'+newDate.format('yyyy-mm-dd hh:mm')+'</h7>\
									  		</div>\
									  	</div>\
									  	<div class="text-right">\
									    		<a class="btn btn-sm btn-light praiseBtn" notion-id = "'+data[i].id+'" aria-disabled = "false" onclick="praise()"><i class="fa fa-thumbs-o-up"></i>&nbsp;<span class="badge badge-light" >'+data[i].praise_count+'</span></a>\
									    		<a class="btn btn-sm btn-dark text-light"><i class="fa fa-comment-o"></i>&nbsp;<span class="badge badge-light">'+data[i].comment_count+'</span></a>\
									  	</div>\
									</div>';
								}
								$(content).insertBefore('#loadingFlag');
								isLoading = 0;
								page = retData.current_page+1;
							}
							else
							{
								$('#loadingFlag').html('这回真没了');
								page--;
							}
							
						}
					});
				}
			}
		});
		var praiseBtn = $('.praiseBtn');
		for(var i = 0 , len = praiseBtn.length; i < len ; i++)
		{
			praiseBtn.eq(i).click(praise);
		}
		
	})
function  praise(){
				if($(this).attr('aria-disabled') != 'true'){
					var notion_id = $(this).attr('notion-id');
					var eq = $('.praiseBtn').index($(this));
					$.ajax({
						url: '/index/praise/notionPraise',
						data:{
							'eq':eq,
							'notion_id':notion_id
						},
						method:'post',
						dataType:'json',
						success:function(retData){
							if(retData.errcode == 0){
								topAlert(retData.errmsg,'success');
								var praiseCount = parseInt($('.praiseBtn').eq(retData.eq).find('.badge').text())+1;
								$('.praiseBtn').eq(retData.eq).find('.badge').text(praiseCount);
								$('.praiseBtn').eq(retData.eq).attr('class','btn btn-sm btn-success disable').attr('aria-disabled','true');
							}else if(retData.errcode == '40100'){
								topAlert(retData.errmsg,'warning');
								$('.praiseBtn').eq(retData.eq).attr('class','btn btn-sm btn-secondary disable').attr('aria-disabled','true');
							}else{
								topAlert(retData.errmsg+'<a href="/admin/login/index">前往登录</a>','info');
							}
						}
					}) 
				}

			}
</script>
{/block}