{extend name="base"/}
{block name="header"}
<div class="jumbotron jumbotron-fluid" style="margin-bottom: 0px;">
  <div class="container">
      <h2>我的观点</h2> 
  </div>
</div>
<div class="alert alert-warning alert-dismissable" style="display: none;" id="top_alert">
    <strong>警告!</strong>
</div>
<div class="alert alert-success text-center">
	<h7>发表新的观点</h7>
	<div class="collapse" id="newNotion">
	  <div class="card card-body" style="padding: 2px;">
	   	<form id="ajaxForm" method="post" action="{:url('admin/notion/giveOut')}">
	   	<input type="hidden" name="user_id" value="{$user_id}">
	    <div class="form-group">
	    	<textarea class="form-control" name="notion_content" id="notion_content" placeholder="最多300字" rows="5" maxlength="300" required style="border: none;"></textarea>
		</div>
  	    <div class="form-group">
	    	<button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i></button>
	    </div>
	   	</form>
	  </div>
	</div>
	<br/><a class="btn btn-success" data-toggle="collapse" href="#newNotion" role="button" aria-expanded="false" aria-controls="newNotion"><i class="fa fa-plus-square-o"></i></a>
</div>
{/block}
{block name="main"}
<div class="container">
	{foreach name="notion" item = "nt"}
		<div class="card" style="margin: 5px auto;">
		  <div class="card-body">
		    <h7 class="card-subtitle mb-2 text-muted"><i class="fa fa-clock-o"></i>&nbsp;{$nt.create_time}</h7>
		    <p class="card-text">{$nt.notion_content}</p>
		    <a href="{:url('admin/notion/delNotion',['id'=>$nt.id])}" class="btn btn-sm btn-danger" id="del"><i class="fa fa-trash"></i>&nbsp;删除</a>
		    <a class="btn btn-sm btn-primary text-light"><i class="fa fa-thumbs-o-up"></i>&nbsp;<span class="badge badge-light">{$nt.praise_count}</span></a>
		    <a class="btn btn-sm btn-info text-light"><i class="fa fa-comment-o"></i>&nbsp;<span class="badge badge-light">{$nt.comment_count}</span></a>
		  </div>
		</div>
	{/foreach}
	{$page}
</div>
{/block}
{block name="js"}
<script type="text/javascript">
	ajaxForm('/admin/notion/index','<i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>&nbsp;发表成功！');
</script>
{/block}