{extend name="base"/}
{block name="main"}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-dark" style="margin-top: 10px;">
    <li class="breadcrumb-item"><a href="{:url('chess/index/index')}">围棋打谱</a></li>
    <li class="breadcrumb-item text-light" aria-current="page">我的棋谱</li>
  </ol>
</nav>
<div class="alert alert-warning alert-dismissable" style="display: none;" id="top_alert">
    <strong>警告!</strong>
</div>
<div class="container">
	{empty name = 'manual' }
	<div class="alert alert-info alert-dismissable text-center">
	    <strong>您还没有展现自己高超的打谱水平呢！<br/>
	    	<a class="btn btn-primary" href="{:url('chess/index/index')}">现在就去</a>
	    </strong>
    </div>
	{else /}
	{foreach name = 'manual' item = 'mnl'}
	<div class="card" style="margin: 5px auto;">
	  <div class="card-body">
	    <h3 class="card-title">{$mnl.manual_name}	    		
	    	<a href="{:url('chess/index/playManual',['id'=>$mnl.id])}" class="btn btn-sm btn-info"><i class="fa fa-eye"></i>&nbsp;演示</a>
		</h3>
	    <h7 class="card-subtitle mb-2 text-muted"><i class="fa fa-clock-o"></i>&nbsp;{$mnl.create_time}</h7>
	    <p class="card-text">{:mb_substr($mnl.manual_intro,0,20,'utf-8')}{if mb_strlen($mnl.manual_intro,'utf-8') > 20 }......{/if}</p>
	    <a href="{:url('chess/index/editManual',['id'=>$mnl.id])}" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i>&nbsp;编辑</a>
	    <a href="javascript:if(confirm('确定要删除吗？')){window.location.href='{:url('chess/index/delManual',['id'=>$mnl.id])}';}" class="btn btn-sm btn-danger" id="del"><i class="fa fa-trash"></i>&nbsp;删除</a>
	    {if condition='$mnl.manual_status != 1'}
	    <a href="{:url('chess/index/shareManual',['id'=>$mnl.id,'isShare'=>1])}" class="btn btn-sm btn-success" id="share"><i class="fa fa-share-alt"></i>&nbsp;分享</a>
	    {else /}
	    <a href="{:url('chess/index/shareManual',['id'=>$mnl.id,'isShare'=>0])}" class="btn btn-sm btn-warning" id="share"><i class="fa fa-remove"></i>&nbsp;取消分享</a>
	    {/if}  
	  </div>
	</div>
	{/foreach}
	{/empty}

	<div class="text-center">{$page}</div>

</div>

{/block}
{block name='js'}
<script type="text/javascript">
</script>
{/block}