{extend name="base"/}
{block name="css"}<style type="text/css">body{background-color: #eeeeee;}</style> {/block}
{block name="header"}
<section class="user-header">

	<a class="text-center flex-item">
		<img src="{$user.photo}" data-toggle="modal" data-target="#photoModalCenter" title="棋手头像" alt="user-photo">
	</a>
	<div class="modal fade" id="photoModalCenter" tabindex="-1" role="dialog" aria-labelledby="photoModalCenterTitle" aria-hidden="true" style="top:15%;">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="photoModalCenterTitle">{$user.name}的头像</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body text-center">
	        <img src="{$user.photo}" class="img-thumbnail img-fluid"> 
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
	        <a type="button" class="btn btn-primary" href="{:url('admin/index/photo')}">头像设置</a>
	      </div>
	    </div>
	  </div>
	</div>
</section>
{/block}
{block name="main"}
<section class="container text-center" style="padding-top: 50px;">
	<ul class="list-group text-left">
	  <li class="list-group-item">
	  	  <h7 class="list-title"><i class="fa fa-user"></i>&nbsp;昵称</h7>
		  <p class="list-content">{$user.name}</p>
	  </li>
	  <li class="list-group-item">
		  <h7 class="list-title"><i class="fa fa-genderless"></i>&nbsp;性别</h7>
		  <p class="list-content">		    
		  	{switch name="user.gender"}
			{case value="1"}<i class="fa fa-mars"></i>&nbsp;男{/case}
			{case value="2"}<i class="fa fa-venus"></i>&nbsp;女{/case}
			{default /}未知
			{/switch}
		</p>
	  </li>
	  <li class="list-group-item">
		  <h7 class="list-title"><i class="fa fa-signal"></i>&nbsp;段位</h7>
		  <p class="list-content">
		    {switch name="user.level_type"}
			{case value="1"}职业{/case}
			{case value="2"}业余{/case}
			{default /}无段位
			{/switch}
		    {if $user.level_type != 3}
		    	{$user.level}
		    {/if}
		  </p>
	  </li>
	  <li class="list-group-item">
	  	  <h7 class="list-title"><i class="fa fa-envelope"></i>&nbsp;邮箱</h7>
		  <p class="list-content">{$user.email}</p>
	  </li>
	  <li class="list-group-item">
	  	  <h7 class="list-title"><i class="fa fa-address-book"></i>&nbsp;简介</h7>
		  <p class="list-content">{$user.introduction}</p>
	  </li>
	  <li class="list-group-item">
	  	  <h7 class="list-title"><i class="fa fa-clock-o"></i>&nbsp;注册时间</h7>
		  <p class="list-content">{:date("Y-m-d h:i",$user.create_time)}</p>
	  </li>
	</ul>
	<a href="{:url('admin/login/logout')}" class="btn btn-danger btn-bg" style="margin-top: 10px;">退出账号</a>
</section>
{/block}