	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
	<meta name="author" content="dayson">
	<meta name="title" content="围棋打谱系统">
	<meta name="keywords" content="dayson,Dayson,围棋打谱系统,触屏版围棋打谱,简单的围棋打谱交流社区,围棋社区,棋艺社区">
	<meta name="description" content="功能简单的围棋打谱系统，围棋爱好者的交流社区，个人棋谱的管理小网站，致力于创建开放共享的围棋社区。">
	<title>围棋打谱系统</title>
	<link rel="stylesheet" type="text/css" href="__FONTAWESOME__/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/global.css">
	<link type="favicon" rel="shortcut icon" href="__STATIC__/images/favicon.png" />