{extend name="base"/}
{block name="top-nav"}<span></span>{/block}
{block name="header"}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <h2>请登录</h2>
  </div>
</div>
{/block}
{block name="main"}
<div class="container">
	<form id="ajaxForm" class="text-center" method="post" action="{:url('admin/login/login')}">
		<div class="alert alert-warning alert-dismissable" style="display: none;" id="top_alert">
				    <strong>警告!</strong>
		</div>
	    <div class="form-group">
	    	<div class="form-row align-items-center">
			    <label for="account" class="col-3 col-sm-3 col-md-2">账号:</label>
		    	<input type="text" class="form-control col-9 col-sm-9 col-md-8" id="account" name="account" placeholder="请输入账号" required>
	    	</div>

	  	</div>
	  	<div class="form-group">
	  		<div class="form-row align-items-center">
			    <label for="pwd" class="col-3 col-sm-3 col-md-2">密码:</label>
		    	<input type="password" class="form-control col-9 col-sm-9 col-md-8" id="pwd" name="pwd" placeholder="请输入密码" required>
	  		</div>

	  	</div>
	  	<div class="form-group">
	  		<div class="form-row align-items-center">
	  			<label for="verify_code" class="col-3 col-sm-3 col-md-2">验证码:</label>
		    	<input type="text" class="form-control col-4 col-sm-4 col-md-3" id="verify_code" name="verify_code" placeholder="点击刷新" required>
		    	<div class="col-4 col-sm-4 col-md-3">
		    		<img src="{:captcha_src()}" style="cursor:pointer;width: 100px;height: 50px" alt="点击更换" title="点击更换" onclick="this.src='{:captcha_src()}?time='+Math.random()"/>
		    	</div>
	  		</div>
	  	</div>
	  	<div class="form-group">
	  		<a href="{:url('admin/login/register')}">没有账号？点我注册！</a>
	  	</div>
	 		<button type="submit" class="btn btn-primary">登录</button>
	</form>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
ajaxForm('{$pre_url}','<i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>&nbsp;登录成功，正在跳转');
</script>
{/block}
